<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Island+Moments&display=swap" rel="stylesheet">
        <h1 align="center"> Why Smart fashion recommender</h1> 
        <style>
            body{
                background-image: url("about.png");
                height: 100%;
                font-size: 30px;
            }
            h2{
                font-family: 'Imperial Script', cursive;
                font-family: 'Island Moments', cursive;
            }
        </style>
    </head>
    <body>
        <p><center>The idea of styling your fashion can feel overwhelming, especially if you’ve been avoiding it for a while or have never done it before.<br>But once you start taking a close look at your loooks, you'll feel relieved and in charge.<br>The benefits of finally taking control of your fashion are enormous: free living and peace of mind!</center></p>
        <h2><center>"A wise person would always look good<br> not just in their mind"</center></h2>
    </body>
</html>